@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;600&family=Poppins:wght@300;400;500;600;700&display=swap');

/*FONTS*/
body {
  font-family: 'Poppins', sans-serif;
}

.title{
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
  font-size: 32px;
}

/*Layout*/
#articleGrid {
  padding: 50px;
  display: grid;
  grid-template-columns: 100%;
}

.article{
  display: flex;
  flex-direction: column;
}

.articleImage{
  width: 100%;
}

@media(min-width: 1025px){
  #articleGrid {
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 50px;
  } 
}